*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    margin: 0 auto;
    position: relative;
    height: 400px;
    width: 500px;
    background-color: black;
    text-align: center;
}

.img-slider{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.container-dot{
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.dot{
    height: 10px;
    width: 10px;
    border: black solid 1px;
    border-radius: 100%;
    margin: 0px 5px;
    background-color: white;
    filter: brightness(0.5);
    cursor: pointer;
}

[class|=button]{
    position: absolute;
    color: white;
    top: 50%;
    height: 25px;
    width: 25px;
    padding: auto;
    border-radius: 100%;
    border: white solid 2px;
    cursor: pointer;
}

.button-left{
    left: 20px;
    transform: translate(0,-50%);
}

.button-right{
    right: 20px;
    transform: translate(0,-50%);
}

.shine{
    filter: brightness(1);
}